.lights-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.light-item {
    display: flex;
    justify-content: center;
}

.light-status {
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

.sliders-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
