/**
*----------------------------------------------
* /www/neumorphism-cards/styles/shared.css
*----------------------------------------------
 */
:host {
  --card-background-color: var(--ha-card-background, var(--card-background-color, #1c1c1c));
  --selected-color: var(--primary-color, #03a9f4);
  --light-color: var(--warning-color, #ffa500);
  --light-off-color: var(--disabled-text-color, #777777);
}

.card-container {
  background-color: var(--card-background-color);
  border-radius: var(--ha-card-border-radius, 12px);
  padding: 0px;
  color: var(--primary-text-color);
}

.card-header {
  margin-bottom: 32px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.card-subtitle {
  font-size: 1rem;
  color: var(--secondary-text-color);
  font-weight: normal;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 16px;
}

.entity-row {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.entity-row.size-2 {
  flex-basis: 100%;
  width: 100%;
}

.entity-row.size-1 {
  flex-basis: calc(50% - 8px);
  width: calc(50% - 8px);
}

.button-description-container {
  display: flex;
  align-items: start;
  gap: 24px;
  flex-direction: row;
}

.entity-info {
  flex: 2;
  background-color: transparent;
  overflow: hidden;
}

.entity-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.entity-description {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.custom-selector{
  height: 50px;
  background-color: var(--card-background-color);
  border: none;
  box-shadow: var(--shadow-elevation-pressed-box);
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}

.custom-label {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

@media (max-width: 480px) {

  .custom-label {
    font-size: 0.7rem;
  }
}